<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./index.css" />
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
  <title>TestPage</title>
</head>
<body>
  <div class="centerDiv">
    <h1>TEST PAGE</h1>
    <hr />
    <br />
    This is Test Page...<br />
    Have a nice day!<br />
    <Br />
    HTML Page
  </div>

  <input type="checkbox" class="call" id="call"/>
  <div class="callingDiv" id="callingDiv">
    <div class="callingDivHead">
      CALLING
    </div>

    <div class="userIcon">
      <i class="fas fa-user" ></i>
    </div>
    <div class="phoneNumber">
      <span id="CallerIP">127.0.0.1</span>
    </div>

    <table class="buttonTable">
      <tr>
        <td class="callBtn" id="callBtn"><i class="fas fa-phone"></i></td>
        <td class="hangUpBtn" id="hangUpBtn"><i class="fas fa-phone-slash"></i></td>
      </tr>
    </table>
  </div>


  <script src="./index.js"></script>
</body>
</html>
